<!DOCTYPE html>
<html lang="en">
	<head>
  <title>Colgate Hackers</title>
  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		  {% load staticfiles %}
		  <link rel="stylesheet" type="text/css" href = "{%static 'index.css'%}" />
		  
		  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			  </head>
	<body style="background-color:black" >
		
		
		
		<nav class="navbar navbar-inverse">
			
			<div class="container-fluid">
    <div class="navbar-header">
		<a class="navbar-brand" href="#">GateHacks</a>
	</div>
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Events</a></li>
		<li><a href="#">Blogs</a></li>
		<li><a href="#">Projects</a></li>
	</ul>
			</div>
		</nav>
		
		
  <div class="container" style="color:lightgrey">
		  <p>Events will appear here</p>
  </div>
  
  
  <footer class ="footer">
	  
	  <div class="container">
		  <p>Social media links will appear here</p>
	  </div>
  </footer>
  
  
	</body>
</html>
